header {
    background: white;
    margin-top: -20px;
    margin-bottom: -15px;
}
header::after {
    content: "";
    display: table;
    clear: both;
}


.title {
    text-align: center;
    margin-left: 120px;
    margin-bottom: -20px;
    padding-top: 10px;
}
.subtitle {
    text-align: center;
    margin-left: 120px;
    padding-top: 10px;
    font: 13px solid;
}

.container {
    width: 80%;
    margin: 0;
}

.logo {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-right: -25px;
    border: black solid 1px;
    border-radius: 50%;
}

nav {
    text-align: center;
    margin-left: 100px;
    margin-top: 0px;
}
nav ul {
    margin-top: -20px;
    margin-bottom: -20px;
    padding: 0;
    list-style: none;
    border: black solid 1px
}
nav li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
nav a {
    text-decoration: none;
}
.navbar {
    background: black;
}

#searchbar {
    display: inline-block;
    margin-left: 20px;
}

body {
    margin: 0;
    background: red;
}

#scroller {
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 10%;
}
#scroller ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}
#scroller ul li {
    position: relative;
    height: 100%;
    float: left;
}
#scroller ul li img{
    width: 500px;
    height: 400px;
}
#scroller #prev, #scroller #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
}
#scroller #prev {
    left: 10px;
}
#scroller #next {
    right: 10px;
}
#scroller #prev:hover, #scroller #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}

article {
    background: white;
}
article h2 {
    text-align: center;
}
article p {
    text-align: center;
}
article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subsection {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    width: 50vw;
    height: 10vh;
}

footer {
    background: purple;
    padding-top: 20px;
}

.calendar {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.game_button {
    background: transparent;
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 60px;
    left: 71px;
}

canvas {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    margin: 0px;
}